.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: yellowgreen;
    padding: 0 10vw;
}

.navImg{
    width: 4vw;
}

.links{
    width: 60vw;
    display: flex;
    justify-content: end;
    gap: 2vw;
    cursor: pointer;
    /* background-color: red; */
    
}
/* 
.footer{
    color: violet;
} */