.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0 8vw;
    background-color: rgb(136, 210, 255);
}

.links{
    display: flex;
    gap: 2vw;
}

.links span{
    cursor: pointer;
}
